.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: center;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  #example-container {
    width: 100%;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  #example-sidenav-content {
    
    display: flex;
    height: 100%;
    
    
  }
  
  #example-sidenav {
    background: rgb(177, 175, 175);
    padding: 100px ;
  }
  img{
      width: 100%;
      height: 100%;
      
      padding: 0;
      
      
  }
    